<div class="grid grid-cols-8 h-screen">
	<!-- products -->
	<div
		class="col-span-5 lg:col-span-6 py-8 lg:py-12 px-8 flex flex-col gap-8 overflow-scroll"
	>
		<!-- filtering -->
		<div class="flex flex-col gap-4">
			<!-- welcome and search -->
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-12 items-center">
				<div class="flex flex-col gap-1">
					<h1 class="text-2xl font-bold">Welcome</h1>
					<p class="text-sm hidden lg:block">Greeting and salutations</p>
				</div>

				<div
					class="px-4 py-2 h-min rounded-full shadow-sm bg-gray-50 focus-within:ring-2 ring-pink-600 transition-all flex flex-row gap-2 items-center"
				>
					<input
						type="text"
						name="searchText"
						[(ngModel)]="systemService.searchText"
						class="w-full h-full focus:outline-none placeholder:text-gray-500 bg-transparent focus:ring-0 ring-0 border-none"
						placeholder="Search anything here..."
					/>
					<fa-icon class="text-gray-500" [icon]="faSearch"></fa-icon>
				</div>
			</div>

			<!-- category -->
			<div class="flex flex-col lg:flex-row gap-4 items-center">
				<p class="hidden lg:block">Categories</p>
				<div
					class="grow flex flex-row gap-2 justify-center lg:justify-end flex-wrap"
				>
					<button
						(click)="systemService.searchCategory = category"
						class="py-1 px-8 rounded-lg shadow-sm active:ring-2 ring-pink-600 transition-all"
						[ngClass]="{
							'bg-pink-600 text-white':
								category === systemService.searchCategory,
							'bg-gray-50 text-gray-700':
								category !== systemService.searchCategory
						}"
						*ngFor="let category of categoriesList"
					>
						{{ category }}
					</button>
				</div>
			</div>
		</div>

		<!-- list -->
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
			<app-product-item
				*ngFor="let product of systemService.filteredProducts"
				[product]="product"
				(onClick)="systemService.addToCheckout(product)"
			></app-product-item>
			<div
				*ngIf="systemService.filteredProducts.length === 0"
				class="col-span-4 text-gray-400 py-12 flex flex-col gap-4 items-center"
			>
				<fa-icon class="text-6xl" [icon]="faSadTear"></fa-icon>
				<p class="font-bold">Sorry, no items found!</p>
			</div>
		</div>
	</div>

	<!-- checkout -->
	<div
		class="col-span-3 lg:col-span-2 py-8 px-2 lg:px-4 flex flex-col gap-4 bg-gray-50 shadow-sm h-full overflow-scroll"
	>
		<h1 class="font-bold text-xl">Current Order</h1>

		<!-- items -->
		<div class="grow flex flex-col overflow-y-scroll">
			<app-checkout-product-item
				(decrementClick)="
					systemService.modifyCheckoutProductQuantity(checkoutProduct, false)
				"
				(incrementClick)="
					systemService.modifyCheckoutProductQuantity(checkoutProduct, true)
				"
				*ngFor="let checkoutProduct of systemService.checkoutProducts"
				[checkoutProduct]="checkoutProduct"
			></app-checkout-product-item>

			<div
				*ngIf="systemService.checkoutProducts.length === 0"
				class="text-gray-400 py-4 flex flex-col gap-2 items-center justify-self-end"
			>
				<fa-icon class="text-3xl" [icon]="faBagShopping"></fa-icon>
				<p class="font-bold text-sm">Empty</p>
			</div>
		</div>

		<!-- bottom -->
		<div class="flex flex-col gap-2 px-2">
			<!-- price calculations -->
			<div class="flex flex-col gap-2 text-xs bg-gray-200 py-6 font-bold">
				<div class="flex flex-row justify-between px-4">
					<p class="text-gray-400">Subtital</p>
					<p>{{ systemService.checkoutTotal }}</p>
				</div>

				<div class="flex flex-row justify-between px-4">
					<p class="text-gray-400">Discount</p>
					<p>{{ systemService.checkoutDiscount }}</p>
				</div>

				<div class="flex flex-row h-8 items-center">
					<div class="w-4 h-full rounded-e-full bg-gray-50"></div>
					<div class="border-b-2 border-b-black border-dotted grow"></div>
					<div class="w-4 h-full rounded-s-full bg-gray-50"></div>
				</div>

				<div class="flex flex-row justify-between px-4">
					<p>Total</p>
					<p>{{ systemService.priceAfterDiscount }}</p>
				</div>
			</div>

			<!-- print button -->
			<button
				class="py-2 px-12 w-full rounded-lg bg-pink-600 text-gray-50 shadow-sm uppercase text-sm font-bold"
			>
				print invoice
			</button>
		</div>
	</div>
</div>
