<div
	class="flex flex-row gap-2 lg:gap-10 pe-2 cursor-pointer hover:text-pink-600 transition-all"
	[ngClass]="{
		'text-pink-600': selected || alwaysHighlight,
		'text-gray-500': secondary,
	}"
>
	<!-- left -->
	<div class="flex flex-row gap-4 items-center grow">
		<fa-icon
			[icon]="icon"
			class="text-xl h-8 w-8 lg:h-4 lg:w-4 flex items-center justify-center"
		></fa-icon>
		<p class="whitespace-nowrap hidden lg:block">{{ title }}</p>
	</div>

	<!-- right -->
	<div class="flex flex-row gap-4 items-center">
		<fa-icon *ngIf="altIcon" [icon]="altIcon"></fa-icon>
		<div
			class="w-1 h-full rounded-md"
			[class]="selected ? 'bg-pink-600' : 'bg-transparent'"
		></div>
	</div>
</div>
