<div
	class="flex flex-row justify-between gap-10 pe-2 cursor-pointer"
	[ngClass]="{
		'text-pink-600': selected,
		'text-gray-500': secondary,
	}"
>
	<!-- left -->
	<div class="flex flex-row gap-4 items-center">
		<fa-icon
			[icon]="icon"
			class="h-4 w-4 flex items-center justify-center"
		></fa-icon>
		<p>{{ title }}</p>
	</div>

	<!-- right -->
	<div class="flex flex-row gap-4 items-center">
		<fa-icon *ngIf="altIcon" [icon]="altIcon"></fa-icon>
		<div
			class="w-1 h-full rounded-md"
			[class]="selected ? 'bg-pink-600' : 'bg-transparent'"
		></div>
	</div>
</div>
