<div
	class="flex flex-col gap-4 justify-between bg-gray-50 text-gray-700 h-full px-2 py-12 shadow-sm text-sm"
>
	<a
		href="https://github.com/ahmeddots/testpos"
		class="self-center flex flex-col gap-2 items-center justify-center cursor-pointer drop-shadow-md hover:text-pink-600 transition-all rounded-full group overflow-hidden"
		target="_blank"
	>
		<fa-icon
			class="text-3xl lg:text-6xl group-hover:animate-spin transition-all"
			[icon]="faGithub"
		></fa-icon>
	</a>

	<!-- center -->
	<div class="flex flex-col gap-4">
		<app-sidebar-item
			(onClick)="changeRoute('system')"
			[icon]="faMoneyBills"
			[selected]="currentUrl == '/system'"
			title="POS System"
		></app-sidebar-item>
		<app-sidebar-item
			(onClick)="changeRoute('sales')"
			[icon]="faUser"
			[selected]="currentUrl == '/sales'"
			title="Customers"
		></app-sidebar-item>
		<app-sidebar-item [icon]="faBriefcase" title="Product"></app-sidebar-item>
		<app-sidebar-item
			[icon]="faRectangleList"
			title="Order List"
		></app-sidebar-item>
		<app-sidebar-item [icon]="faFileLines" title="Checkout"></app-sidebar-item>
		<app-sidebar-item [icon]="faSliders" title="Settings"></app-sidebar-item>
	</div>

	<!-- bottom -->
	<div class="flex flex-col gap-4 items-start">
		<app-sidebar-item
			[icon]="faCircleQuestion"
			[secondary]="true"
			title="Help Center"
		></app-sidebar-item>
		<app-sidebar-item
			[icon]="faCommentDots"
			[secondary]="true"
			title="Contact Us"
		></app-sidebar-item>
		<app-sidebar-item
			[icon]="faArrowRightFromBracket"
			[secondary]="true"
			[alwaysHighlight]="true"
			title="Logout"
		></app-sidebar-item>
	</div>
</div>
