<div
	class="flex flex-col gap-10 justify-between bg-gray-50 text-gray-700 h-full ps-4 lg:ps-8 pe-1 py-12 shadow-sm"
>
	<div></div>

	<!-- center -->
	<div class="flex flex-col gap-4">
		<app-sidebar-item
			(onClick)="changeRoute('system')"
			[icon]="faMoneyBills"
			[selected]="currentUrl == '/system'"
			title="POS System"
		></app-sidebar-item>
		<app-sidebar-item
			(onClick)="changeRoute('sales')"
			[icon]="faUser"
			[selected]="currentUrl == '/sales'"
			title="Customers"
		></app-sidebar-item>
		<app-sidebar-item [icon]="faBriefcase" title="Product"></app-sidebar-item>
		<app-sidebar-item
			[icon]="faRectangleList"
			title="Order List"
		></app-sidebar-item>
		<app-sidebar-item [icon]="faFileLines" title="Checkout"></app-sidebar-item>
		<app-sidebar-item [icon]="faSliders" title="Settings"></app-sidebar-item>
	</div>

	<!-- bottom -->
	<div class="flex flex-col gap-4 items-start">
		<app-sidebar-item
			[icon]="faCircleQuestion"
			[secondary]="true"
			title="Help Center"
		></app-sidebar-item>
		<app-sidebar-item
			[icon]="faCommentDots"
			[secondary]="true"
			title="Contact Us"
		></app-sidebar-item>
		<app-sidebar-item
			[icon]="faArrowRightFromBracket"
			[secondary]="true"
			[alwaysHighlight]="true"
			title="Logout"
		></app-sidebar-item>
	</div>
</div>
